* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
img {
    max-width: 100%;
}
.logo {
    max-height: 30px;
}
.btn {
    background-color: rgb(28 97 255);
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    filter: brightness(2);
}
h1 {
    width: 80%;
    margin: 0 auto;
    font-size: 3rem;
    padding-top: 50px;
}
.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    background-color: white;
    top: 0;
}
.head-left {
    display: flex;
    align-items: center;
}
.head-right {
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
    list-style-type: none;
}
.flex li {
    padding: 15px;
}
.flex a {
    color: gray;
    text-decoration: none;
}
.flex .btn {
    color: white;
}
.flex li:hover {
    border-bottom: 1px solid black;
}
.big-wrapper {  
    margin-top: 80px;
    width: 100%;
    background-color: rgb(180 208 231);
    height: calc(100vh - 80px);
}
.small-wrapper {
    width: 80%;
    margin: 0 auto;
}
.section-plan {
    padding-top: 60px;
}
.radio-btn  {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 30px;
}
.hero {
    display: flex;
    justify-content: center;
    padding-top: 50px; ;
}
.left {
    width: 30%;
    line-height: 30px;
}
.left .btn  {
    line-height: 100px;
}
.left i {
    padding-top: 20px;
    font-size: 4rem;
}
.right {
    width: 50%;
}
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.col {
    border: 1px solid lightgray;
    width: 100%;
}
.col-inside {
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;
}
.list {
    padding: 20px;
    line-height: 30px;
}
.list ul {
    padding-top: 20px;
    list-style-type:  none;
}
li i {
    color: blue;
}
.list .btn {
    margin-top: 40px;
    margin-bottom: 20px;
}
h4 {
    margin-top: 30px;
}
a {
    color: blue;
}

.column {
    margin-top: 50px;
    width: 100%;
    border: 1px solid lightgray;
}
.inside {
    display: flex;
    padding: 20px;
}
.col-left {
    width: 80%;
    justify-content: center;
}
.col-left h4 {
    padding-bottom: 30px;
}
.col-right {
    width: 30%;
}
.second-section {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.box-left {
    width: 60%;
}
.box-right {
    padding: 30px 40px;
    width: 40%;
    line-height: 30px;
}
.box-right p {
    margin-top: 20px;
}
.btn-grey {
    background: none;
    border: 1px solid lightgray;
    margin-top: 30px;
    padding: 10px;
}
.section-box {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.colu {
    width: calc(100% / 3 ) ;
    padding: 20px;
}
.colu p {
    padding: 10px 0px;
}
.link {
    width: 60%;
    padding: 50px 20px;
    margin: 50px 0px;
}
.container-cube {
    display: flex;
}
.square {
    width: 100%;
    overflow-y: auto;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}
.square-inside {
    background-color: whitesmoke;
    overflow: auto;
}
#ph {
    padding: 10px;
}
.mini-sqr {
    width: 50%;
    aspect-ratio: 1/1;
}
.mini-sqr {
    display: flex;
    align-items: center;
    justify-content: center;
}
.green {
    background-color: #a2d39b;
}
.violet {
    background-color: #62092b;
}
.blue {
    background-color: #0093ce;
}
.orange {
    background-color: #ff1d1c;
}
.red {
    background-color: #d50020;
} 
.lightblue {
    background-color: #b4d0e7;
}
.darkblue {
    background-color: #0d2481;
}
.yellow {
    background-color:#ffd830 ;
}
.img-sqr {
    width: 120px;
    filter: invert(1);
}
.action {
    padding: 100px;
}
.action-l {
    width: 50%;
}
.action-l h2 {
    color: #61082b;
}
.action-r {
    width: 30%;
}
.action-r .btn {
    background-color: white;
    border: none;
}
.btn a {
    text-decoration: none;
    color: black;
}
.action .small-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question {
    padding: 80px;
    background-color: white;
}
.coll {
    border-bottom: 1px solid black;
    padding: 30px;
    position: relative;
}
.coll p {
    padding: 30px;
    display: none;
}
.coll:hover p {
    display: block;
}
.big-wrapper .footer {
    background-color: black;
}
.rowe {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 30px;
}
.colls {
    padding-top: 50px;
    width: 100%;
    color: white;
    line-height: 40px;
}
.colls ul {
    list-style-type: none;
}
.colls a {
    color: white;
    text-decoration: none;
}
.colls a:hover {
    border-bottom: 1px solid white;
}
.colls h3 {
    padding-bottom: 30px;
}
.rowe p {
    width: 100px;
    border-top: 1px solid gray;
    padding-top: 30px;
}
.rowe a {
    color: white;
    text-decoration: none;
}